<main class="main bg-background text-foreground">
  <div class="content">
    <h1>Hello, {{ title() }}</h1>
    <p>Congratulations! Your app is running. 🎉</p>
    <p>
    <button class="block w-full bg-red-600 hover:bg-red-700 hover:cursor-pointer text-white font-semibold py-2 px-4 rounded-md transition-colors" (click)="getData()">Fetch from Server</button>
    @if(message$ | async) {
      <p>Message is... {{ (message$ | async) ?.message}}</p>
    }
    </p>
  </div>
  <div class="grid grid-cols-6">
    @for (key of rowHeaders; track key){
      @let field = fields[key];
      <div [class]="`text-${field.align} font-bold`">{{field?.label}}</div>
    }
    @for (row of budgetForm; track row['id']; let i = $index) {
      @for (key of rowHeaders; track key){

        @if (i === 0){
        }
        @let field = fields[key];
        @switch (field?.type){
          @case("text"){
            <input  hlmInput type="text"  [field]="row[key]" [class]="`text-${field.align}`"/>
          }
          @case("checkbox"){
            <div [class]="`text-${field.align} self-center`">
            <hlm-checkbox  [field]="row[key]" />
            </div>
          }
          @case("integer"){
            <input  hlmInput type="number"
      class="[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
       [field]="row[key]" [class]="`text-${field.align}`" />
          }
          @case("currency"){
            <input  hlmInput type="text"
         [field]="row[key]" [class]="`text-${field.align}`" step="0.01"   />
          }
          @default {
          }
         }
        }
    }

    <div class="text-gray-500">+ Add</div>

  </div>
</main>



<router-outlet />
