<div
  class="bg-stone-50 dark:bg-black flex flex-col items-center w-full"
  (window:scroll)="onWindowScroll()"
>
  <header
    class="h-20 bg-white dark:bg-stone-900 shadow-md sticky top-0 z-40 mb-6 w-full border-b-2 border-stone-800"
  >
    <div class="mx-auto">
      <nav class="flex justify-between pt-2 px-4">
        <div class="w-40 pl-6">
          <div class="mt-4">
            <a
              href="#"
              class="font-semibold text-lg text-hunter-600 hover:text-hunter-500"
              >My Budget</a
            >
          </div>
        </div>
        <div>
          <!-- <div
            class="dark:bg-black z-50 absolute left-0 ease-in-out h-screen w-screen duration-1000 transition-opacity"
            [ngClass]="splashClasses"
          >
            <div class="flex w-full justify-between translate-y-52 text-4xl">
              <div class="basis-1/3 text-right">Stay</div>
              <div class="basis-1/3"></div>
              <div class="basis-1/3 text-left">
                in <span class="italic">REAL</span> data.
              </div>
            </div>
          </div> -->

          <div
            class="rounded-tl-lg rounded-br-lg shadow-lg ring-2 ring-stone-800 pt-2 px-2 bg-gradient-to-tr bg-stone-950 overflow-hidden z-50 relative h-28 ease-in-out duration-1000 transition-all origin-top"
            [ngClass]="logoClass"
          >
            <img src="assets/img/DarkLogoPlain1.svg" class="h-[5.5rem]" />
          </div>
        </div>
        <div class="w-40 flex justify-end px-2 text-2xl mt-2">
          <sl-button
            size="large"
            variant="text"
            class="w-10 hover:text-stone-400"
          >
            <sl-icon library="heroicons" name="bell"></sl-icon>
          </sl-button>
          <sl-button size="large" variant="text">
            <sl-icon library="heroicons" name="user"></sl-icon>
          </sl-button>
          <!-- <sl-button size="large" variant="default" class="mt-2">
          <sl-icon library="heroicons" name="bars-3"></sl-icon>
        </sl-button> -->
        </div>
      </nav>
    </div>
  </header>

  <div class="w-[95%] max-w-screen-xl">
    <router-outlet></router-outlet>
  </div>
  <div
    class="bg-stone-900 h-20 w-full p-4 flex items-center justify-center mt-20 text-center"
  >
    <small
      >&#169; Copyright {{ currentYear }} Joshua Stockdale.<br />All rights
      reserved.</small
    >
  </div>
</div>
