<div class="flex pb-6 mt-8 md:mt-0">
  <h1>Welcome, Joshua!</h1>
</div>
<div class="flex flex-row flex-wrap gap-8">
  <div class="basis-full md:basis-1/3">
    <sl-card class="g-card">
      <h2>Current Balance</h2>
      <h3 class="digit"><span>$</span>2563.67</h3>
      <small>"Actual Transactions" does not include budgeted.</small>
    </sl-card>
    <sl-card class="g-card mt-8">
      <h2>After Bills Balance</h2>
      <h3 class="digit"><span>$</span>1783.79</h3>
      <small>Budgeted information to the end of this paycheck.</small>
    </sl-card>
    <sl-card class="g-card mt-8">
      <h2>Upcoming or Late Bills</h2>
      <ul class="mt-4">
        <li>
          <sl-icon
            library="heroicons"
            name="exclamation-circle"
            class="error"
          ></sl-icon>
          Netflix <span class="text-red-400 ml-1">- 14th</span>
        </li>
        <li>
          <sl-icon
            library="heroicons"
            name="ellipsis-horizontal-circle"
          ></sl-icon>
          Water <span class="text-stone-500 ml-1">- 24th</span>
        </li>
        <li>
          <sl-icon library="heroicons" name="minus-circle"></sl-icon> Mortgage
          <span class="text-stone-500 ml-1">- 24th</span>
        </li>
        <li>
          <sl-icon
            library="heroicons"
            name="check-circle"
            class="success"
          ></sl-icon>
          Insurance <span class="text-stone-500 ml-1">- 28th</span>
        </li>
      </ul>
    </sl-card>
  </div>
  <div class="basis-full md:basis-2/3">
    <sl-card class="g-card reverse">
      <app-report></app-report>
    </sl-card>
  </div>
  <div class="basis-full">
    <sl-card class="g-card">
      <app-calendar></app-calendar>
    </sl-card>
  </div>
</div>
